/*--------------------------------------------.
|                   General                   |
`--------------------------------------------*/

html, body {
	width: 100%;
	height: 100%;
	font: 400 12px/18px 'Josefin Sans', Helvetica, Arial, sans-serif;
}

/*--------------------------------------------.
|                 Typography                  |
`--------------------------------------------*/

h3 {
	font-size: 1.25em;
	letter-spacing: .3em;
	text-transform: uppercase;
}

p {
	font-size: 3rem;
	line-height: 1.25;
	font-weight: 200;
	color: #777;
}

small {
	font-size: .75em;
}

/*--------------------------------------------.
|                    Images                   |
`--------------------------------------------*/

img {
	max-width: 100%;
}

/*--------------------------------------------.
|                  Centering                  |
`--------------------------------------------*/

.v-center-wrap {
	font-size: 0;
}
.v-center-wrap:before {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.v-center-box {
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
}

.h-center-wrap {
	text-align: center;
}
.h-center {
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------.
|                    Floats                   |
`--------------------------------------------*/

.clearfix:after {
	content: '';
	display: table;
}
.clearfix,
.clearfix:after {
	clear: both;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

/*--------------------------------------------.
|                     Pages                   |
`--------------------------------------------*/

.full-page {
	width: 100%;
	height: 100%;
}

.fixed-page {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	-webkit-transform: translateY( 0 );
	   -moz-transform: translateY( 0 );
	        transform: translateY( 0 );
	transition: all 200ms ease-in-out;
	overflow: auto;
}

.hidden {
	z-index: -100;
	-webkit-transform: translateY( 100% );
	   -moz-transform: translateY( 100% );
	        transform: translateY( 100% );
}

.noscroll {
	overflow: hidden;
}

/*--------------------------------------------.
|              Rows and Containers            |
`--------------------------------------------*/

.container {
	max-width: 50rem;
}

.row {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/*--------------------------------------------.
|                    Grid                     |
`--------------------------------------------*/

.col {
	float: left;
	width: 100%;
}
.col-1 {
	width: 8.3333333%;
}
.col-2 {
	width: 25%;
}
@media all and (min-width: 400px) {
	.col-2 {
		width: 16.6666666%;
	}
}
@media all and (min-width: 800px) {
	.col-4 {
		width: 33.3333333%;
	}
}

/*--------------------------------------------.
|                   Spacing                   |
`--------------------------------------------*/

.space-top-xs {
	margin-top: 1rem;
}
.space-top-small {
	margin-top: 2rem;
}
.space-top {
	margin-top: 5rem;
}
.space-bottom-xs {
	margin-bottom: 1rem;
}
.space-bottom-small {
	margin-bottom: 2rem;
}
.space-bottom {
	margin-bottom: 5rem;
}

/*--------------------------------------------.
|                   Buttons                   |
`--------------------------------------------*/

.btn {
	display: inline-block;
	padding: .5em .9em .4em 1em;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: black;
	background-color: white;
	border-radius: .25rem;
	opacity: .4;
	cursor: pointer;
}
.btn:active {
	opacity: 1;
}

/*--------------------------------------------.
|                    IP Page                  |
`--------------------------------------------*/

#ip-page {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}
#ip-input {
	display: block;
	outline: 0;
	border: 0;
	border-bottom: 2px solid black;
	margin-bottom: 1rem;
	text-align: center;
	font: inherit;
	font-size: 3rem;
	line-height: 1.5;
}
#ip-btn {
	display: inline-block;
	font-size: 1.5em;
	line-height: 1;
	padding: 1rem 1rem .7rem 1rem;
	text-transform: uppercase;
	border: 2px solid black;
	border-radius: .3rem;
	cursor: pointer;
	color: black;
}
#ip-btn:active {
	border-color: transparent;
	background-color: black;
	color: white;
}
